/* Footer styling */
footer {
    background-color: #5E8C30;
    color: #1A202C;
    padding: 2em;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-left, .footer-right {
    width: 48%; /* Adjust as needed for spacing */
  }
  
  .footer-left .logo-container {
    display: flex;
    align-items: center; /* Align the logo and text vertically */
  }
  
  .footer-logo {
    width: 300px; /* Adjust the logo size as needed */
    height: 200px; /* Maintain the aspect ratio of the logo */
    margin-right: 1em; /* Space between the logo and the text */
  }
  
  .footer-right {
    display: flex;
    justify-content: center;
    gap: 7.5em;
  }
  
  footer h4 {
    margin-bottom: 0.5em;
  }
  
  footer p {
    font-size: 0.9em;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 0.5em;
  }
  
  footer a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .copyright {
    margin-top: 2em;
    font-size: 0.8em;
  }