/* Container holding both sidebar and content */
.container {
  display: flex; /* Flexbox for sidebar and content */
  padding: 40px 80px 30px 60px; /* Adjusted padding */
  width: 100%; /* Ensure full width */
  gap: 20px;
  
}

/* Sidebar section */
.sidebar {
  width: 200px; /* Fixed width for sidebar */
  padding: 20px;
}

.sidebar-title {
  margin-bottom: 15px;
  color: #333;
}

/* Category buttons in sidebar */
.category-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #979595;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button.active {
  background-color: #8D5524; /* Active color when the button is clicked */
}

/* Hover effect (optional) */
.category-button:hover {
  background-color: #8D5524; /* Hover color */
}


/* Card style */
.card {
  background-color: #f0f8f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  height: 300px; /* Reduced height */
  background: #7BA651
}

.card:hover {
  transform: translateY(-5px);
}

/* Card image style */
.card-image {
  width: 100%; /* Ensures image fills the card */
  height: 150px; /* Adjust image height */
  object-fit: cover;
}

/* Content inside the card */
.card-content {
  padding: 10px; /* Reduced padding for smaller cards */
}
.card-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white; 
  margin-bottom: 10px;
}
/* Card title */
.card-title {
  font-size: 1.1em; /* Adjust font size */
  color: white; 
  margin-bottom: 8px; /* Reduced margin */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate overflow text */
}

/* Card description */
.card-description {
  font-size: 0.85em; /* Adjust font size */
  color: white; 
}
.cards-wrapper {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns per row */
  gap: 20px;
}