.container {
  display: flex;
  max-width: 1700px;
  margin: 0 auto;
}

.main-content {
  flex: 1; /* Takes up the available space on the left */
  padding-right: 20px;
}

.right-section {
  width: 400px; /* Fixed width for the right section (user profile and sidebar) */
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  align-items: center; /* Vertically center the content */
  margin-bottom: 20px;
}
.add-button {
  background-color: #808080; /* Gray background */
  color: white; /* White text */
  padding: 10px 20px; /* Add padding for size */
  border: none; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.add-button:hover {
  background-color: #666666; /* Darker gray on hover */
}
.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px; /* Space between the picture and the name */
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.post-username {
  font-weight: bold; /* Makes the username bold */
  font-family: Arial, sans-serif;
  margin-left: 10px; /* Optional: Adds spacing between the image and the username */
  font-size: 20px;
}


.side {
  background-color: white;
  padding: 20px;
}

.user-suggestions h2 {
  margin-bottom: 15px;
}

.suggestion-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.suggestion-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.post {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.post p {
  margin: 10px 0;
  font-size: 16px;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.post-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.post-images img {
  width: 100%;
  border-radius: 10px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #666;
}
